@media screen and (max-width:576px){
  
   .header-one{
  background:none;

  width: 100%;

 
    }
  .header-div{

  flex-direction: column;
 
  
  }
  .heading-g3{
    
  margin-bottom: -600px;
  margin-left: -10px;

}
.nav-div> .nav-ul{
 flex-direction: column;
  row-gap: 30px;
  
  
}

.middle-heading >p , h1 {
 
  width: 100%;
  padding-bottom: 20px;
  
 }
 .btn-div{
   width: 100%;
   
   
 }
 .banner-img{
   display:flex;
   
   width: 60%;
   
 }
 .banner-img>img{
  height: 300px;
  width: 400px;
  margin-left: 180px;
 }
 .service{
  width: 350px;
 }
 .para-fact{
  width:350px;
 }
 .section-div{
   flex-direction: column;
 }
 .feature-img{
   display: grid;
   grid-template-columns: repeat(1,1fr);
   width: 100%;
   margin-left: 5%;
 }
 .engineer-heading{
   padding-left: 20px;
   text-align:left;
 }
 .heading-en{
     padding-bottom: 20px;
     margin-left: -0px;
 }
 .btn{
  width: 100%;
  
 }
 .heading-details{
  margin-left: 10px;
 }
 .heading-section-two{
  width: 100%;
  margin-left: 10px;
  padding-left: 5px;
 }
 .main-container{
   flex-direction: column;
   width: 100%;
 }
 .heading-feature{
 
    margin-left: -0px;
  
 }
 .eng-img{
  width: 90%;
  padding-left: 10px;
 }
 .fact{
  width: 35%;
  padding-left: 10px;
 }

 .awards{
 grid-template-columns: repeat(2, 1fr);
 
 margin-left: 60px;
  
 }
 .section-six-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 10px;
 }
 .footer-div{
  text-align: center;
 }
  }

