*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Work Sans';
}

  /* headeer start */
  .header-one{
    background: rgba(255, 144, 14, 0.1);
    width: 1400px;
    
    margin: 0 auto;
  }
  .head-nav{
    display: flex;
    justify-content: center;
    
    
  }
  .header-div{
   
    display: flex;
    justify-content: space-between;
    gap:605px;
    
    
  }
  .heading-g3{
    font-family: 'Work Sans';
    font-style: normal;
   
    margin-top: 63px;
    margin-left: 100px;
    
    

  }
  .heading-group{
    color: #131313;
  }
  .heading-group-content{
    color: #727272;
  }

  .middle-heading {
    
    text-align: center;
    justify-content: center;
   
     margin: 0 auto;
     
    /* header button */
  }
  .btn-one{
    margin-top: 53px;
    margin-bottom: 60px;
    padding: 21px;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
     border-radius: 8px;
    
  }
  .btn-div{
    text-align: center;
  }
 
  



   /* navbar styles */
   .nav-div> .nav-ul{
    display: flex;
    gap:30px ;
   }
   .nav-ul{
    margin-right:100px ;
    margin-top: 63px;
    margin-bottom: 109px;
   }
   nav ul li a{
    font-size: 18px;
    color: #424242;
    
    text-decoration: none;
  }
  nav ul li{
    list-style: none;
  }
  main{
    max-width: 100%;
  }
  /* banner styles */
  .img{
    width: 1100px;
   
  }
 .banner-img{
  display: flex;
  justify-content: center;
  margin-bottom:150px ;
 }
 /* feature images */
 .feature-img{
  
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap: 10px;
  
 }
 .engineer>img{
   width: 250px;
 }
 .section-div{
  display: flex;
  justify-content: center;
  gap: 30px;
 }
 .engineer-heading{
  width: 500px;
  margin-top: 100px;
  

 }
 .section-one{
  margin-bottom: 50px;
 }
 .orange{
  color: orange;
 }
 /* sections two */
 .service{
  width: 500px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  margin-left: 20px;
 }
 .service>h3{
  padding-bottom: 5px;
 }
 .eng-img{
  width: 500px;
 height: 580px;
  
 }
 /* sections two */

 .main-container{

    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 30px
    ;



 
 }
.section-two-container{
  padding: 10px;
 
 
}

.engineer>img{
  width: 250px;
  height: 250px;
  border-radius: 5px;
 
}
.heading-section-two{
  border-left: 5px solid orange ;
  margin-bottom: 20px;
}
p{
  color: #727272;
}
.fact-one{
  width: 100%;
  display: flex;
  justify-content: center;
}
/* section three */
.section-three{
  margin: 0 auto;
  width: 1100px;

  
}
.fact{
 
  width:400px;
  
  margin-top: 60px;
 
  margin-bottom: 120px;
  
}
.facts{
  padding-bottom: 10px;
}
.award{
  border: 1px solid #FF900E;
border-radius: 8px;

width: 150.83px;
height: 150.83px;
text-align: center;
padding-top: 35%;

}
.awards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:100px;
  margin-bottom: 100px;
  
}
.secion-div-three{
  
  display: flex;
  align-items: center;
}
/* section four */
.section-four{
  display: flex;
  justify-content: center;
 
}

/* sections five container */
.section-five-container{
  text-align: center;
  
}
.section-f-h{
  padding-bottom: 20px;
}
/* sections six */
.section-six{
  margin-bottom: 70px;
}
.section-six-container{
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}
.sp-img>img{
  width:150px;
}
/* footers */
.footer-one{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
 
  
}
.footer-div{
  width: 1200px;
  height: 100px;
  background: #FFF4E7;
  border-radius: 8px;
  
  

}
.footer-div{
  
  display: flex;
  align-items: center;
  justify-content: center;
}

